@charset "utf-8";
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  &:not(input, textarea) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
  }
}

body {
  margin: 0;
  font-family: 'Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif';
  background-color: #eee;
}

a {
  text-decoration: none;
  color: #333;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input[type="text"],
input[type="number"],
input[type="password"] {
  border: none;
  outline: none;
}

/*  common part  */

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.weWhiteStyle {
  min-height: 100%;
  background-color: #fff;
}

.icon-down {
  margin-top: -.15rem;
  display: inline-block;
  width: .5rem;
  height: .5rem;
  border-right: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.dataEmpty {
  font-size: .8rem;
  color: #888;
  text-align: center;
  padding-top: 3rem;
}

@function rem($px, $base-font-size: 37.5px, $scale: 1) {
  @if (unitless($px)) {
    @warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels for you";
    @return rem($px + 0px);
  } @else if (unit($px) == em) {
    @return $px;
  }
  @return ($px * $scale / 2 / $base-font-size) * 1rem;
}
